body {
    margin: 0;
}

.content {
    margin-top: 11px;
    height: inherit;
    width: 100%;
    max-width: 1100px;
}

.content div {
    text-align: left;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

#icone-erro {
    margin-top: 5px;
    margin-right: 10px;
}

#whmcs-icone {
    text-align: left;
    margin-top: 15px;
    margin-left: 30px;
    width: 100%;
    max-width: 1100px;
}

.header {
    width: 100%;
    text-align: center;
}

#division {
    margin-top: 6px;
    border-top-color: #006080;
    border-top-style: solid;
    border-top-width: 38px;
    border-bottom-width: 20px;
    border-bottom-style: solid;
    border-bottom-color: #006080;
    height: inherit;
    padding-bottom: 30px;
    margin-bottom: 5px;
}

footer {
    font-family: sans-serif;
    margin-bottom: 200px;
    font-size: 15px;
    color: #737373;
    text-align: center;
}

h1 {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 35px;
    color: #737373;
    vertical-align: center;
    display: inline;
}

.error-box {
    border: 1px;
    border-color: #cccccc;
    border-style: solid;
    border-radius: 3px;
}

#integration-errors {
    margin-top: 25px;
    color: #cc0000;
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;
}

#information {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    display: block;
}

h2 {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 23px;
    color: #737373;
    vertical-align: center;
}

.information-box {
    width: 40%;
    float: left;
    font-size: 20px;
    color: #737373;
    border: 1px;
    border-color: #cccccc;
    border-style: dashed;
    border-radius: 3px;
    padding: 20px;
}

.clear {
    clear: both;
    overflow: hidden;
}

.center-divisor {
    float: left;
    margin: 15px;
}

@media only screen and (max-width: 992px) {
    .information-box,
    .center-divisor {
        width: 85%;
        margin-right: 60px;
        float: none;
    }
}

h3 {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 23px;
    color: #737373;
    display: inline-block;
}

h4 {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #737373;
}

#footer {
    border-bottom-color: #006080;
    border-bottom-style: solid;
    border-width: 28px;
    margin-top: 15px;
}

#back-to-edit-client-data {
    display: inline-block;
}

.css_btn_class {
    font-size: 15px;
    font-family: Arial;
    font-weight: normal;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #337fed;
    padding: 9px 18px;
    text-decoration: none;
    background: -moz-linear-gradient( center top, #3d94f6 18%, #1e62d0 87%);
    background: -ms-linear-gradient( top, #3d94f6 18%, #1e62d0 87%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
    background: -webkit-gradient( linear, left top, left bottom, color-stop(18%, #3d94f6), color-stop(87%, #1e62d0));
    background-color: #3d94f6;
    color: #ffffff;
    display: inline-block;
    text-shadow: 1px 0px 0px #1570cd;
    -webkit-box-shadow: 1px 0px 0px 0px #97c4fe;
    -moz-box-shadow: 1px 0px 0px 0px #97c4fe;
    box-shadow: 1px 0px 0px 0px #97c4fe;
}

.css_btn_class:hover {
    background: -moz-linear-gradient( center top, #1e62d0 18%, #3d94f6 87%);
    background: -ms-linear-gradient( top, #1e62d0 18%, #3d94f6 87%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
    background: -webkit-gradient( linear, left top, left bottom, color-stop(18%, #1e62d0), color-stop(87%, #3d94f6));
    background-color: #1e62d0;
}

.css_btn_class:active {
    position: relative;
    top: 1px;
}